@media only screen and (min-width:375px){
    .container-splashScreen-img-header img{
        position: absolute;
        width: 149px;
        height: 110.01px;
        left: 113px;
        top: 305px;
    }

    .container-splashScreen p{
        position: absolute;
        width: 295px;
        height: 16px;
        left: 40px;
        top: 656px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #766262;
    }
}